@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Oswald:wght@700&family=Poppins:wght@200;300;400;500;600;700&family=Raleway:wght@100;200;300;400;500;600;700&family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(/images/pexels-rfstudio-3819572.jpg) no-repeat;
    background-position: left;
    background-size: contain;
    height: 100vh;
    overflow: hidden;
    background-color: #e6ebec;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.logo{
    height: 40px;
    /* margin-left: 70px;
    margin-right: 400px; */
    padding-right: 18%;
}
.list{
    display: flex;
    justify-content: spa;
    align-items: center;
    list-style: none;
}
.nav-item{
    margin-right:40px;
    font-family: poppins;
    padding: 10px 15px 8px 0px;

}
.nav-link a{
    text-decoration: none;
    /* padding: 20px; */
    color: #a7a7a7;
    transition: linear 0.3s ease;
}
.nav-link a:hover{
    cursor: pointer;
    color: #111;
}
.line{
    border-bottom:2px solid #111;
    width: 300px;
    margin-right: 50px;
}
.creative-head{
    position: relative;
    right: -70px;
    top: 25px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 20px;
    
}
header{
    height: 320px;
}
.heading{
    /* flex-basis:50% ; */
    margin-left: 250px;

}
.heading h1{
    font-family: Merriweather;
    font-size:100px;
    font-weight: 7      00;
    color: transparent;
    color: white;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
         line-height: 1;
         margin-left: 100px;
}
.heading span{
    color: #111;
    padding-left: 110px;

}
.content{
    display: flex;
}
.content p{
    align-self: flex-end;
    color: #a7a7a7;
    font-family: poppins;
    font-size: 30px;
}
.social-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 150px;
}
.social-icon img{
    height: 20px;
}
.btn{
    padding: 12px 40px;
    border: none;
    background-color: #111;
    color: #fff;
    float: right;
    margin-right: 120px;
    cursor: pointer;
}
.bottom{
    width: 60%;
    /* float: right; */
    margin: 50px auto;
    position: relative;
}
.creative-field{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    position: absolute;
    right: -150px;
}
.col-1{
    position: relative;
}
.col-1 ul{
    display: flex;
    flex-direction: column;
}
.active-list-item{
    color: #000;
    font-family: poppins;
    font-size: 25px;
    line-height: 2.5;
}
.list-item{
    font-family: poppins;
    font-size: 24px;
    color: #a7a7a7;
    line-height: 2.5;
}
.vl{
    border-left: 2px solid #a7a7a7;
    height: 240px;
    position: absolute;
    left: -19px;
    top: 33px;
    /* color: #a7a7a7; */
    z-index: -1;
}
.bottom-img{
    width: 350px;
    align-self: flex-end;
}
.col-2 p{
    font-size: 16px;
    color: #a7a7a7;
    font-family: poppins;
    margin-bottom: 15px;
}
.arrow-bottom img{
    height: 100px;
    width: 60px;
}
.arrow-bottom{
    align-self: center;
}